<div class="container">
    <h3>Searcherd:  </h3>
    <app-not-found [visible]="!courses || courses.length<=0" resetLinkText="Go To HomePage"></app-not-found>
    
    <ul *ngIf="courses">    
        <li *ngFor="let course of courses">
            <a routerLink="/course/{{course.id}}">
                <img src="{{course.imageUrl}}" alt="">
                <div class="content">
                    <div class="name">
                        {{course.name}}
                    </div>
                    <span class="favorite {{course.favorite ? '' : 'not'}}">
                        ❤
                    </span>
                    <div class="stars">
                        <app-star-rating [stars]="course.stars"></app-star-rating>
                    </div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span *ngFor="let creator of course.creator">
                                {{creator}}
                            </span>
                        </div>
                    </div>
                    <div class="price">
                        <span>
                            {{course.price|currency}}
                        </span>
                    </div>
                </div>
            </a>   
        </li>
    </ul>
    </div>
    
    