header{
    background-color: rgb(50, 50, 50);
    padding:0;
}

a{
    color: white;
    height: 70px;
}
a:hover{    
    background-color: #e729297d;
    color:white;
}

.container{
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type: none;
    margin:0;
}

nav ul li a{
    padding:1em;
    display:inline-block;
}




