<footer>
    <div class="main-content">
        <div class="leftF box">
            <h2>About us</h2>
            <div class="content">
                <p>At The Monsona store we are committed to providing superior customer service, expert advice and competitive pricing on and extensive range of quality products for tradies and DIYers. Products include; housewares, hardware, power and hand tools, electrical, plumbing, paints, outdoor living, automotive, gardening, building supplies, timber and much more.</p>
                <div class="socials">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                    <a href="#"><span class="fab fa-github"></span></a>

                </div>
            </div>
        </div>
        <div class="middleF box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">226 Chatham Way Reston MD Maryland</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">02 9319 5216 | 02 9810 2388</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">nikolovtoshe22gmail.com</span>
                </div>
                <div class="form" routerLink="/survey">
                    <a >Help us improve</a>
                </div>
            </div>
        </div>
        <div class="rightF box">
            <h2>Contact us</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message *</div>
                        <textarea rows="5" cols="40" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>